.masterAdmin {
  height: 100vh;
  background-color: rgb(75, 214, 75);
  display: grid;
  grid-template-columns: 0.2fr 1fr;
}

.leftBar {
  background-color: rgb(128, 202, 128);
}

.rightBar {
  background-color: rgb(44, 102, 44);
}
